rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Corrigido: A estrutura do caminho
    match /pets/{userId}/{folder}/{fileName} {
      
      // A condição do folder deve vir AQUI dentro
      allow read: if true;
      
      allow write: if request.auth != null 
                   && (folder == 'photos' || folder == 'rga');
    }
  }
}
