@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 336 82% 52%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
 
    --accent: 24 9.8% 10%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --ring: 24.6 95% 53.1%;
 
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 336 82% 52%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;

    --accent: 24 9.8% 10%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --ring: 24.6 95% 53.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    @keyframes shine {
      from {
        background-position: 200% center;
      }
      to {
        background-position: -200% center;
      }
    }
    @keyframes tilt {
      0%, 100% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(1deg);
      }
    }
    .animate-tilt {
      animation: tilt 10s infinite linear;
    }
  }
